<!DOCTYPE html>
<html lang="en" ng-app='doc'>
<head>
	<base href="/help/" >
    <meta charset="utf-8">
    <title>JSDoc: <?js= title ?></title>
	<script src="/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/prettify/prettify.js"></script>
    <script src="/scripts/prettify/lang-css.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-route/angular-route.min.js"></script>
	<script src="/angular-aria/angular-aria.js"></script>
	<script src="/angular-animate/angular-animate.js"></script>
	<script src="/angular-material/angular-material.min.js"> </script>
	<script src="/system/docomatix/docomatix.js"></script>
	<script src="/scripts/documents.js"> </script>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="/styles/prettify-tomorrow.css">
    <!-- <link type="text/css" rel="stylesheet" href="/styles/jsdoc-default.css"> -->
    <link type="text/css" rel="stylesheet" href="/angular-material/angular-material.min.css">
    <link type="text/css" rel="stylesheet" href="/styles/docs.css">
    <link type="text/css" rel="stylesheet" href="/system/docomatix/docomatix.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body ng-controller='main' layout layout-fill prettyprint>
	<md-sidenav class="md-sidenav-left md-whiteframe-8dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
		<md-toolbar class="md-primary md-whiteframe-1dp" layout-align='center center'>
			<a href="./">Home</a>
		</md-toolbar>
		<md-content role="navigation" layout="column" flex>
			<dm-sidemen flex style="background:{{color.primary.default}};overflow-x:hidden">
				<?js= this.nav ?>
			</dm-sidemen>
		</md-content>
	</md-sidenav>
	<div layout='column' layout-fill>
		<md-toolbar class="md-whiteframe-4dp site-content-toolbar md-accent" layout-align="center" layout-padding>
			{{g.pageTitle}}
		</md-toolbar>
		<md-content id="main" layout='column' flex>
			<div class='wrapper' flex layout-margin>
				<div ng-view class="[autoscroll: true;]"></div>
			</div>
			<footer>
				Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>
			</footer>
		</md-content>

	</div>

</body>
</html>
