#logo{
margin-top:50px;
padding-top:30px;
background:#F8F8F8;
border:1px solid #ddd;
border-bottom:none;
}
#logo img{
width:125px;
height:auto;
margin-left:15px;
}

#header{

}
.alpha{
padding-left:0;
}
.omega{
padding-right:0;
}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer;
}
.vertical-tabs{
position:relative;
}
.vertical-tabs .nav, .vertical-tabs .tab-content{
box-sizing:border-box;
float:left;

}
.vertical-tabs .nav{
width:25%;
border:none;
padding-left:15px;
}
.vertical-tabs .tab-content{
width:75%;
border:1px solid #ddd;
border-top:none;
padding:30px;
background:#F8F8F8;
}

.vertical-tabs .nav li a{
border-radius: 4px 0 0 4px;
margin:0;
border:none;
}
.vertical-tabs .nav li.active a{
border:1px solid #ddd;
border-right:none;
background:#F8F8F8;
}
.vertical-tabs .nav li a:hover{
background:#ddd;
}
.vertical-tabs .nav li.active a:hover{
background:#F8F8F8;
}
.vertical-tabs .nav li.active a:after{
content:'';
position:absolute;
width:1px;
background:#F8F8F8;
top:0;
height:100%;
right:-1px;
}
